<ion-view view-title="Auddiar - Crear">
	<div class="bar bar-header">
    	<img class="logo-auditor" src="img/logo-auditor.png"/>
	</div>

	<ion-content class="has-subheader2 has-footer" id="content-auditor">

	<!--	<div class="post-item"> //colocar el ng-repeat aqui 

			<div class="row margin-top">
				
				<div class="col col-75">
			  		<i class="ion-record">
			  			<span id="username">gusmt66</span>
			  		</i>
			  	</div>
			  	
			  	<div class="col post-time">
			  		<span id="post-time">Hace 2 Min</span>
			  	</div>

			</div>-->

			<div class="pic-container">
				<!--<a class="play-icon">
					<img src="img/play-icon.png"/>
				</a>-->
				<img class="picture-crear" ng-src="img/posts/girl.png"/>
			</div>

			<!--<div class="row">
				<p class="arrow-icon"><strong>ES UNA NENAAAAA |</strong> Guillermo Francella</p>
			</div>-->

			<div class="rows">
				<p class="message"><strong>ES UNA NENAAAAA  |</strong>  <span class="autorcrear">Guillermo Francella</span></p>
			</div>

			<div class="rows social">
				<div class="col lock">
				<a class="privacy-icon-grey"></a>
				<p class="text-lock-grey">VISIBLE AL PÚBLICO</p>
				<a class="privacy-icon-pink"></a>
				<p class="text-lock-pink">VISIBLE SOLO YO</p>
				</div>
			</div>

		</div> 
		<div class="clear"></div>
		<div class="rows2">
			<div class="cboton b1"><a class="buttom-camera"></a></div>
			<div class="cboton b2"><a class="buttom-picture"></a></div>
			<div class="cboton2 b2"><a class="buttom-play"></a></div>
			<div class="cboton b4"><a class="buttom-microphone"></a></div>
			<div class="cboton b5" ><a class="buttom-list"></a></div>
		</div> 

		<div class="button-create">
			<button class="button-purple" ng-click="go('crear')">CREAR</button>
		</div> 
		<a class="helpcrear" href=""><i class="ion-ios-help-outline"></i> NECESITO AYUDA</a>
		

  </ion-content>

  <footer>
		<div class="tabs tabs-icon-only">
		  <a id="icon1" class="tab-item" href="#/tab/todos">
		    <i class="icon"></i>
		  </a>
		  <a id="icon2" class="tab-item activated2" href="#/crear">
		    <i class="icon"></i>
		  </a>
		  <a id="icon3" class="tab-item"href="#/tabmusica/categoria">
		    <i class="icon"></i>
		  </a>
		  <a id="icon4" class="tab-item">
		    <i class="icon"></i>
		  </a>
		</div>
	</footer>
  	
</ion-view>