<div class="bar bar-header">
  <img class="logo-auditor" src="img/logo-auditor.png"/>
</div>

<ion-tabs>

<ion-tab title="CATEGORIAS">
<p class="toptab">hola 1</p>
</ion-tab>
<ion-tab title="AUTORES">
  <div id="buscador">
    <input class="buscadorautores" placeholder="BUSCADOR">
    <i class="ion-ios-search searchicon"></i>
  </div>
<div id="vista-autores">
    <a class="linkautor" href="">
      <div class="itemautor">
        <i class="ion-record bullet-autor"></i>
        <div class="contiene-autor">
        <p class="name-autor">GUILLERMO FRANCELLA</p>
        <div class="clear"> </div>
        <p class="cantidadaudios">13 AUDIOS</p>
        </div>
        <div class="flecha-autor">
          <i class="ion-ios-arrow-forward"></i>
        </div>
        <div class="clear"></div>
      </div>
    </a>
        <a class="linkautor" href="">
      <div class="itemautor">
        <i class="ion-record bullet-autor"></i>
        <div class="contiene-autor">
        <p class="name-autor">LUIS BRANDONI</p>
        <div class="clear"> </div>
        <p class="cantidadaudios">7 AUDIOS</p>
        </div>
        <div class="flecha-autor">
          <i class="ion-ios-arrow-forward"></i>
        </div>
        <div class="clear"></div>
      </div>
    </a>
        <a class="linkautor" href="">
      <div class="itemautor">
        <i class="ion-record bullet-autor"></i>
        <div class="contiene-autor">
        <p class="name-autor">MONI ARGENTO</p>
        <div class="clear"> </div>
        <p class="cantidadaudios">16 AUDIOS</p>
        </div>
        <div class="flecha-autor">
          <i class="ion-ios-arrow-forward"></i>
        </div>
        <div class="clear"></div>
      </div>
    </a>
        <a class="linkautor" href="">
      <div class="itemautor">
        <i class="ion-record bullet-autor"></i>
        <div class="contiene-autor">
        <p class="name-autor">MARIA ELENA FUSENECO</p>
        <div class="clear"> </div>
        <p class="cantidadaudios">13 AUDIOS</p>
        </div>
        <div class="flecha-autor">
          <i class="ion-ios-arrow-forward"></i>
        </div>
        <div class="clear"></div>
      </div>
    </a>
  </div>
</ion-tab>

<ion-tab title="TODOS">
<p class="toptab">hola 3</p>
</ion-tab>
</ion-tabs>
