<ion-view view-title="Auddiar - Register">
  <ion-content>

	<div class="wrapper center">

	  	<img class="logo" src="img/logo.png"/> 

		<div class="list">
		  <label class="item item-input item-floating-label">
		  	<span class="input-label">Usuario</span>
		    <input type="text" placeholder="Usuario">
		  </label>
		  <label class="item item-input item-floating-label">
		  	<span class="input-label">Contraseña</span>
		    <input type="password" placeholder="Contraseña">
		  </label>
		  <label class="item item-input item-floating-label">
		  	<span class="input-label">Mail</span>
		    <input type="email" placeholder="Mail">
		  </label>
		</div>

		<button class="button button-full button-light">Registrarse</button>

		<div id="tienesCuenta">
			<p class="links info-p">¿Ya tenés cuenta?</p>
			<a class="links" ng-href="#/login">LOGIN</a>
		</div>

	</div>
  	
  </ion-content>
  

</ion-view>