<ion-view view-title="Auddiar - Auditor">

	<ion-content class="has-subheader has-footer" id="content-auditor">

		<div class="post-item"> <!-- colocar el ng-repeat aqui -->

			<div class="row margin-top">
				
				<div class="col col-75">
			  		<i class="ion-record">
			  			<span id="username">Username</span>
			  		</i>
			  	</div>
			  	
			  	<div class="col post-time">
			  		<span id="post-time">Hace 34 Min</span>
			  	</div>

			</div>

			<div class="pic-container">
				<a class="play-icon">
					<img src="img/play-icon.png"/>
				</a>
				<img class="picture" ng-src="img/posts/baby.jpg"/>
			</div>

			<div class="row">
				<p class="arrow-icon">ES UNA NENAAAAAA!</p>
			</div>
			<div class="row">
				<p class="author">Guillermo Francella</p>
			</div>

			<div class="row social">

				<div class="col col-25">
					<i class="ion-ios-heart"></i><span class="likes">24.408</span>
				</div>
				<div class="col actions">

				<a class="heart-icon"></a>
				<a class="share-icon"></a>
				<a class="trash-icon"></a>
				<a class="report-icon"></a>
				<a class="privacy-icon"></a>

				</div>

			</div>

		</div> <!-- fin post-item -->


		<!-- Desde aqui se puede borrar para hacer el ng-repeat -->

		<div class="post-item">

			<div class="row margin-top">
				
				<div class="col col-75">
			  		<i class="ion-record">
			  			<span id="username">candy66oficial</span>
			  		</i>
			  	</div>
			  	
			  	<div class="col post-time">
			  		<span id="post-time">Hace 49 Min</span>
			  	</div>

			</div>


			<div class="pic-container">
				<a class="play-icon">
					<img src="img/play-icon.png"/>
				</a>
				<img class="picture" ng-src="img/posts/concert.jpg"/>
			</div>


			<div class="row">
				<p class="arrow-icon">CANDY66 EN EL SIBELIUS FEST 2015</p>
			</div>
			<div class="row">
				<p class="author">Candy66</p>
			</div>

			<div class="row social">

				<div class="col col-25">
					<i class="ion-ios-heart"></i><span class="likes">131.089</span>
				</div>
				<div class="col actions">

				<a class="heart-icon"></a>
				<a class="share-icon"></a>
				<a class="trash-icon"></a>
				<a class="report-icon"></a>
				<a class="privacy-icon"></a>

				</div>

			</div>

		</div> <!-- fin post-item -->

		<div class="post-item">

			<div class="row margin-top">
				
				<div class="col col-75">
			  		<i class="ion-record">
			  			<span id="username">alba.yanes</span>
			  		</i>
			  	</div>
			  	
			  	<div class="col post-time">
			  		<span id="post-time">Hace 51 Min</span>
			  	</div>

			</div>


			<div class="pic-container">
				<a class="play-icon">
					<img src="img/play-icon.png"/>
				</a>
				<img class="picture" ng-src="img/posts/golden.jpg"/>
			</div>


			<div class="row">
				<p class="arrow-icon">ESE ES CHAKA ESPERANDOME HOY EN CASA</p>
			</div>
			<div class="row">
				<p class="author">Romina Yanes</p>
			</div>

			<div class="row social">

				<div class="col col-25">
					<i class="ion-ios-heart"></i><span class="likes">53.052</span>
				</div>
				<div class="col actions">

				<a class="heart-icon"></a>
				<a class="share-icon"></a>
				<a class="trash-icon"></a>
				<a class="report-icon"></a>
				<a class="privacy-icon"></a>

				</div>

			</div>

		</div> <!-- fin post-item -->

		<!-- Hasta aqui se puede borrar -->

  </ion-content>

  <footer>
		<div class="tabs tabs-icon-only">
		  <a id="icon1" class="tab-item activated2" href="#/tab/todos">
		    <i class="icon"></i>
		  </a>
		  <a id="icon2" class="tab-item" href="#/crear">
		    <i class="icon"></i>
		  </a>
		  <a id="icon3" class="tab-item"href="#/tabmusica/categoria">
		    <i class="icon"></i>
		  </a>
		  <a id="icon4" class="tab-item">
		    <i class="icon"></i>
		  </a>
		</div>
	</footer>
  	

  

</ion-view>