  <ion-view view-title="Auddiar - Categoria">

  <ion-content class="has-subheader has-footer nopaddingtop" id="content-auditor">

  <ion-refresher
    pulling-text="Tire para refrescar ..."
    on-refresh="loadCategoriesRefresh()">
  </ion-refresher>

  <div id="buscador">
     <input class="buscadorautores" placeholder="BUSCADOR" ng-model="model.search.Name">
    <i class="ion-ios-search searchicon"></i>
  </div>
  
  <div id="categorias" class="mostrar">
  <div id="contieneprimeras">
  <a href="javascript:void(0);" ng-click="showCatdet('Favourites')">
  <div class="cajacategoria primeras">
    <img class="iconocat" src="img/fav.png">
    <p class="labelcategoria">FAVORITOS</p>
  </div></a>
  <a href="javascript:void(0);" ng-click="showCatdet('Trending')">
  <div class="cajacategoria segundas">
        <img class="iconocat" src="img/tend.png">
        <p class="labelcategoria">TENDENCIA</p>
  </div></a>
  <a href="javascript:void(0);" ng-click="showCatdet('News')">
  <div class="cajacategoria tercera">
        <img class="iconocat" src="img/nuevo.png">
        <p class="labelcategoria">NUEVOS</p>
  </div>

    </a>
  </div>


<a href="javascript:void(0);" ng-click="showCatdet(categorie)" ng-repeat="categorie in model.categories | filter:model.search" >
    <div class="cajacategoria2">
      <p class="labelcategoria2">{{categorie.Name}}</p>
      <p class="labelcategoria3">{{categorie.AudioCount}} ITEMS</p>
      <div class="itemcat" style="background-color: {{categorie.Color}} "></div>
    </div>
  </a>

  </div>


  <div id="categoriadetalle" class="ocultar">
  
  <div class="contienedetalle contiene2"> 
       <a class="linkautor" href="javascript:void(0);" ng-click="hideCatdet()">
        <i class="ion-ios-arrow-left bullet-autor-d"></i>
        <p class="name-autor-d">{{model.categoriesDetails.Name}}</p>
        <div class="clear"> </div>
    </a>
  </div>

<div id="vista-autores2">

  <div  ng-repeat="audio in model.categoriesDetails.Audios"> 
    <a class="linkautor"  href="" >
      <div id="itemautor{{audio.Id}}" class="itemautor">
        <div id="btnplay{{audio.Id}}" class="btnplay"></div>
        <div id="contieneautor{{audio.Id}}" class="contiene-autor" ng-click="hideMore({{audio.Id}})" >
        <p class="name-autor">{{audio.Title}}</p>
        <div class="clear"> </div>
        <p class="nombreautor">{{audio.Author}}</p><p class="cantidadaudios segundos todosline">{{audio.Seconds}}  SEG</p>
        </div>
        <div class="flecha-autor">
          <a href="" class="mostrar" ng-click="showMore({{audio.Id}})"><i id="more{{audio.Id}}" class="ion-android-more-vertical"></i></a>
        </div>
        <a id="" href="" ng-click="fav()">
        <div id="boton1{{audio.Id}}" ng-click="setFavourite(audio.Id, audio.FlagFavourite)" ng-class="audio.FlagFavourite ? 'contieneboton1Enable' : 'contieneboton1'" class="ocultar">
            <div id="detailboton1{{audio.Id}}" ng-class="audio.FlagFavourite ? 'icondet2Enable' : 'icondet2'"></div>
        </div>
        </a>
        <div id="boton2{{audio.Id}}" class="contieneboton2 ocultar">
          <div class="icondet1"></div>
        </div>
        <div class="clear"></div>
      </div>
    </a>
  </div>

  </div>
  </div>
    </ion-content>

  <footer>
    <div class="tabs tabs-icon-only">
      <a id="icon1" class="tab-item" href="#/tab/todos">
        <i class="icon"></i>
      </a>
      <a id="icon2" class="tab-item" href="#/crear">
        <i class="icon"></i>
      </a>
      <a id="icon3" class="tab-item activated2"href="#/tabmusica/categoria">
        <i class="icon"></i>
      </a>
      <a id="icon4" class="tab-item">
        <i class="icon"></i>
      </a>
    </div>
  </footer>
    

  

</ion-view>