<div class="bar bar-header">
    <img class="logo-auditor" src="img/logo-auditor.png"/>
</div>

<ion-tabs>

      <ion-tab title="CATEGORIAS" href="#/tabmusica/categoria">
        <ion-nav-view name="tab-categoria"></ion-nav-view>
      </ion-tab>

      <ion-tab title="AUTORES" href="#/tabmusica/autores">
        <ion-nav-view name="tab-autores"></ion-nav-view>
      </ion-tab>

      <ion-tab title="TODOS" href="#/tabmusica/todos">
        <ion-nav-view name="tab-musicatodos"></ion-nav-view>
      </ion-tab>
</ion-tabs>
